/openpose
/dataset/Video/Ocado
/dataset/Video/kit_dataset
/dataset/frame_label.pkl
/dataset/activity_to_id.pkl
/dataset/hidden_states_collection.pkl
/dataset/id_to_activity.pkl
/dataset/id_to_label.pkl
/dataset/label_to_id.pkl
/dataset/ordered_collection.pkl
/dataset/test_collection.pkl
/dataset/train_collection.pkl
/dataset/id_to_word.pkl
/dataset/word_to_id.pkl
/logdir
/debug
/checkpoint
/__pycache__
/sports1m_finetuning_ucf101.model
/dataset/preprocessed
/.vscode/settings.json
/excluded_video
/deploy
/deploy/model
/deploy_writer
dataset/labels_user31.json
dataset/labels_user11.json
dataset/labels_user12.json
dataset/labels_user21.json
dataset/labels_user22.json
Help-System/

dataset/results
dataset/object_label
logdir-v2-smallc3d/
checkpoint-good?